body {
  margin: 0;
  background-image: url(https://t2.tudocdn.net/322200?w=1920);
}

h1 {
  font-size: 10vh;
  margin: 5vh;
  padding: 0;
  text-align: center;
  color: white;
}

table {
  border-collapse: collapse;
  margin: 0 auto;

}

td {
  width: min(25vw, 22vh);
  height: min(25vw, 22vh);
  border: 1px solid;
  text-align: center;
  font-size: 30px;
  cursor: pointer;
  background-color:white;
}

td:hover {
  background-color: lightgray;
}