#inicio{
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    background-color: rgb(214, 201, 176);
    border-style: inset;
    border-color: rgba(0, 0, 0, 0.473);

}

#titulo{
    color: white;
    background-color: red;
}

#limpar:hover{
    background-color: rgb(124, 50, 45);
}


#limpar{
    border-color: black;
    background-color: rgb(199, 61, 61);
}

#botão:hover{
    background-color:rgb(29, 54, 194);
}

#botão{
    border-color: black;
    background-color: rgba(0, 0, 255, 0.692);
}
