@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.game{
    
    width: 100%;
    height: 100vh;
    border-bottom: 15px solid rgb(32, 32, 32);
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#020a20, #fcd5b5);
}

.inicio{
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logotipo{
    width: 210px;
}

.start{
    width: 12%;
    height: 50px;
    border: 3px solid rgb(26, 1, 1);
    border-radius: 60px;
    color: rgb(150, 86, 86);
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    transition: 0.2s;
}

.start:hover{
    background-color: white;
    border: none;
    color: #6c8ff0;
}

#start{
    font-size: 45px;
    font-family: 'Poppins', sans-serif;
}

.contagem{
    position: absolute;
    width: 100vw;
    margin-top: 300px;
    font-family: 'Poppins', sans-serif;
    font-size: 50px;
    font-weight: 600;
    user-select: none;
    text-align: center;
    color: white;
}

.fim{
    position: absolute;
    width: 100vw;
    height: 100vh;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.reset{
    width: 12%;
    height: 50px;
    border: 3px solid rgb(97, 16, 16);
    border-radius: 60px;
    color: white;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
    transition: 0.2s;
}

.reset:hover{
    background-color: white;
    border: none;
    color: #6c8ff0;
}

#reset{
    font-size: 45px;
    font-family: 'Poppins', sans-serif;
}

.pipe{
    position: absolute;
    bottom: 0;
    width: 80px;
    animation: pipe-animation 1.8s infinite linear;
}

.mario{
    position: absolute;
    bottom: 0;
    width: 150px;
    margin-left: 50px;
    rotate: 0deg;
    user-select: none;
}

.jump{
    animation: mario-jump 500ms ease-out;
}

.dead{
    animation: mario-dead 500ms ease;
}



@keyframes pipe-animation {
    from{
        right: -80px;
    }
    to{
        right: 100%;
    }
}

@keyframes mario-jump {
    0%{
        bottom: 0;
    }

    40%{
        bottom: 180px;
    }

    50%{
        bottom: 180px;
    }

    60%{
        bottom: 180px;
    }

    100%{
        bottom: 0;
    }
}

@keyframes mario-dead {
    0%{
        bottom: 0;
    }

    40%{
        bottom: 200px;
    }

    60%{
        bottom: 0;
    }

    100%{
        bottom: -100px;
    }
}

