table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    border: black solid 1px;
    padding: 4px
}
p:hover {
    animation-duration: 3s;
    animation-name: gira;
}

@keyframes gira {
    30% {
        transform: rotate(-50deg);
        opacity: 0;
    }

    60% {
        color:blue;
        opacity: 1;
    }

    100% {
        transform: rotate(0deg);
    }
}
@media (max-width: 500px) {
     table{
       background-color:chartreuse;
    }
}

